<h1>Записавшиеся на стрижку</h1>

<ul>
  <% @clients.each do |client| %>
    <li key="<%= client.id %>">
      <a href="/client/<%= client.id %>"><strong><%= client.name %></strong></a>
    </li>
  <% end %>
</ul>